* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(rgb(18, 93, 255), rgb(0, 89, 255));
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  min-height: 100vh;
}
.wrapper, .main, .form, .form__inputs {
  display: grid;
}
.wrapper {
  justify-items: center;
}
.header {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  margin: 10px 0;
}
.main {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 10px;
}
.main {
  row-gap: 10px;
  max-width: 70%;
  min-width: 350px;
}
.question__title {
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  word-break: break-all;
  border: 2px solid rgba(228, 228, 228, 0.863);
}
.form {
  row-gap: 10px;
}
.form__inputs {
  row-gap: 5px;
}
.label {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  transition: background-color 0.1s ease;
  transition: border 0.1s linear;
}
.label:hover {
  background-color: rgb(212, 212, 212);
}
.label:has(:checked) {
  border: 3px solid rgb(49, 121, 255);
}

.form__buttons {
  display: flex;
  justify-content: space-between;
}
.button {
  padding: 8px;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.418);
  cursor: pointer;
}
#question__check {
  background-color: rgb(49, 121, 255);
  color: white;
  font-weight: bold;
}